body {
    font: 10px sans-serif;
}

.y.axisLeft text {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar1 {
    fill: lightskyblue;
}

.bar1:hover {
    fill: gray;
}

.bar2 {
    fill: pink;
}

.bar2:hover {
    fill: gray;
}

.x.axis path {
    display: none;
}

.barchart-view {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    /*padding-bottom: 300%;  aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0;
}