body {
    font: 10px sans-serif;
}

.y.axisLeft text {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    fill: steelblue;
    font-size: 11px;
}

.bar1 {
    fill: #337ab7;
}

.bar1:hover {
    fill: gray;
}

.bar2 {
    fill: #5bc0de;
}

.bar2:hover {
    fill: gray;
}

.x.axis path {
    display: none;
}

.barchart-view {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    /*padding-bottom: 300%;  aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

.d3-tip table {
    table-layout: fixed;
}

.d3-tip tr td {
    padding: 0;
    margin: 0;
    text-align: center;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
