body {
    font: 10px sans-serif;
}

.y.axisLeft text {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar1 {
    fill: steelblue;
}

.bar1:hover {
    fill: gray;
}

.bar2 {
    fill: red;
}

.bar2:hover {
    fill: gray;
}

.x.axis path {
    display: none;
}