/* temple */
.container {
    
}
#banner {
    margin-bottom: 0px;
}

/*
 * banner
 */

/*
 * category-container
 */
#category-container .btn-group, button, ul {
    width: 100%;
    margin-bottom: 5px;
}

#category-container label {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 18px;
}
#option-1 {
    padding-right: 0px;
}
#option-2 {
    padding-left: 0px;
}
#vs {
    text-align: center;
    display:block;
    line-height: 27px;
    font-size: 14px;
}
/*
 * content
 */
 #charts {
    
 }
.panel {
    margin-bottom: 0px !important;
}
.panel p {
    margin-bottom: 0px !important;
}
/*
 * bar
 */
#bar #bar-chart {
    padding-bottom: 10px;
} 


/*
 * #line
 */
#line-footer ul {
    margin: 0 auto;
}

#line-chart {
    height: 300px;
    background-color: #eee;
} /* temple */

/*
 * tweet
 */
#tweets #twitter-widget-0 {
    width: 100% !important;
}