/**
 * loading
 */

#loading {
    background-color: #00aeef;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    z-index: 100;
}

#loading img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#loading p {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    line-height: 2em;
    color: #333;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/*
 * banner
 */

#banner {
    margin-bottom: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    #banner {
        background-image: url('/img/750x128.jpg');
        width: 100%;
    }
}

@media (min-width: 768px) {
    #banner {
        background-image: url('/img/750x128.jpg');
        height: 128px;
    }
}

@media (min-width: 992px) {
    #banner {
        background-image: url('/img/970x128.jpg');
        height: 128px;
    }
}

@media (min-width: 1200px) {
    #banner {
        background-image: url('/img/1170x128.jpg');
        height: 128px;
    }
}


/*
 * category-container
 */

#category-container .btn-group,
button,
ul {
    width: 100%;
    margin-bottom: 5px;
}

#category-container label {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 18px;
}

#option-1 {
    padding-right: 0px;
}

#option-2 {
    padding-left: 0px;
}

#vs {
    text-align: center;
    display: block;
    line-height: 27px;
    font-size: 14px;
}

#option-1 button,
#option-2 button {}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #333 !important;
    background-color: #fff !important;
}


/*
 * content
 */

#charts {}

.panel {
    margin-bottom: 0px !important;
}

.panel p {
    margin-bottom: 0px !important;
}


/*
 * bar
 */

#bar #bar-chart {
    padding-bottom: 10px;
    margin-bottom: 20px;
}


/*
 * #line
 */

#line-footer ul {
    margin: 0 auto;
}

.yScale path,
.yScale line,
.xScale path,
.xScale line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.yScale text,
.xScale text,
.legend {
    font-family: sans-serif;
    font-size: 11px;
    fill: steelblue;
}

.axes .tick line {
    stroke: #ddd;
    opacity: 0.5;
}

.line-tip .bg {
    stroke: #fff;
    opacity: 0.5;
}

.line-tip text {
    line-height: 2em;
    font-weight: bold;
    fill: #fff;
    text-align: left;
}

.tip-detail .bg {
    fill: #fff;
    opacity: 1;
}

.tip-detail text {
    font-weight: normal;
}

/*
 * tweet
 */

#tweets #twitter-widget-0 {
    width: 100% !important;
}

@media (min-width: 1200px) {
    #tweet-content {
        margin-top: -15px;
    }
}
